<div class="men-wear">
  <div class="container">
    <div class="col-md-3 products-left">
      <div class="css-treeview">
        <h4><%= t "category.name" %></h4>
        <ul class="tree-list-pad">
          <% if @categories.any? %>
            <%= render @categories %>
          <% else %>
            <h3><%= t "category.empty" %></h3>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-9 products-right">
      <h5><%= t "product.list" %></h5>
      <div class="filter_product">
        <%= render "static_pages/sort_grid" %>
      </div>
    </div>
    <%= render "static_pages/list_of_product"%>
  </div>
  <% if @list_trend_product.present? %>
    <div class="container list_trend">
      <hr>
      <h4 class="text-center hot_trend"><%= t "page.hot_trend" %><h4>
      <div class="list_of_product">
        <%= render @list_trend_product, tag: :trend  %>
      </div>
    </div>
  <% end %>
</div>
