
<% provide(:title, t("session.title")) %>

<%= form_for :session, url: sessions_path, html: {class: "container animate"} do |f| %>
  <div class="containerr">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form_login", placeholder: t("email.placeholder"), required: true  %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form_login", placeholder: t("password.placeholder"), required: true  %>

    <%= f.submit t("session.title"), class: "button_login" %>
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span><%= t "checkbox.remember" %></span>
    <% end %>
    <p><%= t "user.new_user" %><%= link_to t("form.sign_up_now"), new_user_path %></p>
  </div>
<% end %>
