<%= form_for @user, html: {class: "container animate"} do |f| %>
  <div class="containerr">
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :full_name, t("user.full_name") %>
    <%= f.text_field :full_name, class: "form_login", placeholder: t("user.placeholder"), required: true %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "form_login", placeholder: t("email.placeholder"), required: true  %>

    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form_login", placeholder: t("user.phone.placeholder"), required: true  %>

    <%= f.label :address %>
    <%= f.text_field :address, class: "form_login", placeholder: t("user.address.placeholder"), required: true  %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form_login", placeholder: t("password.placeholder"), required: true  %>

    <%= f.label :password_confirmation, t("password.confirmation") %>
    <%= f.password_field :password_confirmation, class: "form_login", placeholder: t("password.confirm_placeholder"), required: true  %>

    <%= f.submit @user ? t("form.update") : t("form.create_account"), class: "button_login" %>
    <span class="psw"><%= link_to t("form.login_now"), new_session_path %></span>
  </div>
<% end %>
