<div class="container mb-4 page_cart">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col"><%= t "product.title"%></th>
              <th scope="col"><%= t "page.available" %></th>
              <th scope="col" class="text-center quantity_cart"><%= t "product.quantity" %></th>
              <th scope="col" class="text-right"><%= t "product.unit_price" %></th>
              <th scope="col" class="text-right"><%= t "product.total_price" %></th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |line_item|%>
              <tr>
                <td><%= link_to image_tag("d1.jpg", class: "img-responsive",width: "70px", height: "70px"), "#" %></td>
                <td><%= line_item[:product].name %></td>
                <td><%= t "product.in_stock" %> <%= line_item[:product].quantity %></td>
                <%= form_with do |f| %>
                  <td>
                    <%= f.number_field :quantity, value: line_item[:quantity], min: 1, max: line_item[:product].quantity, class: "form-control",
                      data: { remote: true, method: :put, url: update_to_carts_path(line_item[:product]) }
                    %>
                  </td>
                <% end %>
                <td class="text-right"><%= number_to_currency(line_item[:product].price)%></td>
                <td class="text-right"><%= number_to_currency line_total_price(line_item) %></td>
                <td class="text-right">
                  <%= link_to delete_from_carts_path(line_item[:product]), data: { confirm: t("page.confirm"), method: :delete, remote: true}, class: "btn btn-sm btn-danger" do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong><%= t "product.total_price" %></strong></td>
              <td class="text-right"><strong><%= number_to_currency total_price %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <%= link_to t("page.continue_shopping"), root_path, class: "btn btn-block btn-light"%>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <%= link_to t("page.checkout"), root_path, class: "btn btn-lg btn-block btn-success text-uppercase"%>
        </div>
      </div>
    </div>
  </div>
</div>
