<div class="col-md-3 product-men">
  <div class="men-pro-item simpleCart_shelfItem">
    <div class="men-thumb-item">
      <%= image_tag(product.images.first, class: "pro-image-front") if product.images.attached? %>
      <%= image_tag(product.images.first, class: "pro-image-back") if product.images.attached? %>
      <div class="men-cart-pro">
        <div class="inner-men-cart-pro">
          <%= link_to t("page.view"), product_path(product), class: "link-product-add-cart"%>
        </div>
      </div>
      <span class="product-new-top <%= tag %>"><%= tag %></span>
    </div>
    <div class="item-info-product ">
      <h4><%= link_to product.name, product_path(product) %></h4>
      <div class="info-product-price">
        <span class="item_price"><%= number_to_currency product.price %></span>
      </div>
      <%= link_to t("product.add_cart"), add_to_carts_path(product, quantity: 1), method: :post, class: "item_add single-item hvr-outline-out button2" %>
    </div>
  </div>
</div>
