<!-- header -->
<div class="header page_head">
  <div class="container">
    <ul>
      <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><%= t "header.one_title" %></li>
      <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><%= t "header.second_title" %></li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com"><%= t "header.third_title" %></a></li>
    </ul>
  </div>
</div>
<!-- //header -->
<!-- header-bot -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <%= link_to t("page.base_title"), root_path, id: "logo", class: "navbar-brand" %>
  <form class="form-inline form_search" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit"><%= t "page.search" %></button>
  </form>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
    <%= link_to t("page.home"), root_path, class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to t("page.contact"), "#", class: "nav-link"  %>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t "page.languagee" %>
      </a>
      <div class="dropdown-menu aria-labelledby="dropdownMenuLink"">
        <%= link_to t("page.language.eng"), locale:"en"%>
        <%= link_to t("page.language.vie"), locale:"vi"%>
      </div>
    </li>
    <% if log_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-check"> </i>
        </a>
        <div class="dropdown-menu drop_head aria-labelledby="dropdownMenuLink"">
          <%= link_to t("user.orders"), "#", class: "dropdown-item"%>
          <%= link_to t("user.setting"), edit_user_path(current_user), class: "dropdown-item"%>
          <%= link_to t("user.logout"), session_path(current_user), method: :delete, class: "dropdown-item"%>
        </div>
      </li>
    <% else %>
      <li class="nav-item"><%= link_to "Log in", new_session_path, class: "nav-link"%></li>
    <% end %>
  </ul>
  <div id="ex4">
    <a href="#" class="p1 fa-stack fa-2x has-badge" data-count="4">
      <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse cartt" data-count="4b"></i>
    </a>
  </div>
</nav>
<!-- //header-bot -->
