<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading"><%= t "admin.core" %></div>
            <a class="nav-link" href="index.html">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                <%= t "admin.dashboard" %>
            </a>
            <div class="sb-sidenav-menu-heading"><%= t "user.manage" %></div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                <%= t "admin.category" %>
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="layout-static.html"><%= t "admin.new" %></a>
                  <a class="nav-link" href="layout-sidenav-light.html"><%= t "admin.details" %></a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProducts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-pencil-ruler"></i></div>
                <%= t "admin.product" %>
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseProducts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <%= link_to t("admin.new"), new_admin_product_path, class: "nav-link" %>
                <%= link_to t("admin.details"), admin_products_path, class: "nav-link" %>
              </nav>
            </div>
            <%= link_to admin_orders_path, class: "nav-link" do %>
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              <%= t "admin.order" %>
            <% end %>
            <%= link_to admin_orders_path, class: "nav-link" do %>
              <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></i></div>
              <%= t "admin.user" %>
            <% end %>
          </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small"><%= t "admin.log_in" %></div>
            <%= t "admin.bootstrap" %>
        </div>
    </nav>
  </div>
