<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/user_header" %>
    <div id="flash_messages">
      <%= render "layouts/flash_messages" %>
    </div>
    <%= yield %>
    <%= render "layouts/user_footer" %>
  </body>
</html>
